<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário</title>
    <style>
      body {
          font-family: 'Arial', sans-serif;
          margin: 0;
          padding: 0;
          background-color: #f4f4f4;
          color: #333;
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      .header {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 20px;
          background-color: #5df76a;
          color: #fff;
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      }
      .header h1 {
          margin: 0;
      }
      .header button {
          background-color: #fff;
          color: #c76306;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 14px;
      }
      .header button:hover {
          background-color: #e9ecef;
      }
      .content {
          display: flex;
          width: 100%;
          max-width: 1200px;
          margin-top: 20px;
      }
      .profile-info {
          width: 25%;
          padding: 20px;
          background-color: #fff;
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          border-radius: 8px;
          margin-right: 20px;
      }
      .profile-info h2 {
          margin-top: 0;
          font-size: 18px;
          color: #35ad05;
      }
      .profile-info p {
          font-size: 14px;
          margin: 10px 0;
      }
      .main-content {
          flex: 1;
          padding: 20px;
          background-color: #fff;
          box-shadow: 0 2px 4px rgba(0,0,0,0.1);
          border-radius: 8px;
      }
      .buttons {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
      }
      .buttons button {
          background-color: #15db03;
          color: #fff;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 14px;
      }
      .buttons button:hover {
          background-color: #13a106;
      }
      table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 20px;
      }
      table, th, td {
          border: 1px solid #ddd;
      }
      th, td {
          padding: 12px;
          text-align: left;
      }
      th {
          background-color: #08e401;
          color: #fff;
      }
      tr:nth-child(even) {
          background-color: #f2f2f2;
      }
      tr:hover {
          background-color: #e9ecef;
      }
  </style>
  
</head>
<body>
    <div class="header">
        <a href="/homeUsuario">
            <img src="imagens/logo_sollo.png" alt="Logo" class="home-icon">
        </a>
        <button onclick="window.location.href='/logout'">Logout</button>
        <h1>Perfil do Usuário</h1>
    </div>
    <div class="content">
        <div class="profile-info">
            <h2>Informações do Usuário</h2>
            <p><b>Nome:</b> <%= usuarioLogado.usuario.nome_usuario %></p>
            <p><b>Email:</b> <%= usuarioLogado.usuario.email_usuario %></p>
            <p><b>Telefone:</b> <%= usuarioLogado.usuario.telefone_usuario %></p>
        </div>
        <div class="main-content">
            <div class="buttons">
                <button onclick="window.location.href='/telaSaque'">Saques</button>
                <button onclick="window.location.href='/telaDeposito'">Depósito</button>
                <button onclick="window.location.href='/telaRecebimentoDeConta'">Contas</button>
                <button onclick="window.location.href='/telaExtrato'">Extrato</button>
                <button onclick="window.location.href='/telaBuscarClientes'">Clientes</button>
                <button onclick="window.location.href='/telaBuscarUsuarios'">Usuarios</button>
            </div>
            
        </div>
    </div>
</body>

</html>
