<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcionário</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .container {
            width: 80%;
            margin-top: 50px;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        h1 {
            text-align: center;
            margin-bottom: 20px;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        label {
            margin-bottom: 5px;
            font-weight: bold;
        }
        input[type="text"], input[type="cpf"],input[type="email"], input[type="tel"], input[type="password"] {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            width: 100%;
        }
        .btn {
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #007bff;
            color: white;
            text-decoration: none;
        }
        .btn:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Cadastro de Funcionário</h1>
        <form action="/cadastrarFuncionario/<%= idClientePj %>" method="POST">

            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome_funcionario" required>
            
            <label for="cpf">CPF</label>
            <input type="cpf" id="cpf" name="cpf" required>
            
            <label for="email">Email</label>
            <input type="email" id="email" name="email_funcionario" required>

            <label for="telefone">Telefone</label>
            <input type="tel" id="telefone" name="telefone_funcionario" required>
            
            <button type="submit" class="btn">Cadastrar</button>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>
     $(document).ready(function () {
        $("#telefone").mask("(00) 00000-0000");
        $("#cpf").mask("000.000.000-00");
      });
</script>

</html>
